@model MyCashFlow.Web.ViewModels.TransactionType.TransactionTypeDetailsViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Header</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Model.Edit, MVC.TransactionType.ActionNames.Edit, MVC.TransactionType.Name, new { id = Model.TransactionTypeID }, new { @class = "btn btn-primary" + (Model.Private ? "" : " disabled") })
    @Html.ActionLink(Model.Back, MVC.Home.ActionNames.Index, MVC.Home.Name, null, new { @class = "btn btn-primary" })
</p>
