@using Rsx = MyCashFlow.Resources.Localization.Views;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Rsx.Shared._Shared.Label_ApplicationName</title>

	@Scripts.Render(Bundles.Scripts.Jquery)
	@Scripts.Render(Bundles.Scripts.Jqueryval)
	@Scripts.Render(Bundles.Scripts.Bootstrap)
	@Scripts.Render(Bundles.Scripts.Modernizr)
	@Scripts.Render(Bundles.Scripts.Knockout)
	@Styles.Render(Bundles.Styles.Css)
	@RenderSection("scripts", required: false)
	@RenderSection("styles", required: false)
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink(Rsx.Shared._Shared.Label_ApplicationName, MVC.Home.ActionNames.Index, MVC.Home.Name, new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				@if (Request.IsAuthenticated)
				{
					<ul class="nav navbar-nav">
						<li>@Html.ActionLink(Rsx.Home._Shared.MenuItem, MVC.Home.ActionNames.Index, MVC.Home.Name)</li>
						<li>@Html.ActionLink(Rsx.Project._Shared.MenuItem, MVC.Project.ActionNames.Index, MVC.Project.Name)</li>
						<li>@Html.ActionLink(Rsx.Transaction._Shared.MenuItem, MVC.Transaction.ActionNames.Index, MVC.Transaction.Name)</li>
					</ul>
				}
				@Html.Partial(MVC.Shared.Views._LoginPartial)
			</div>
		</div>
	</div>

	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - @Rsx.Shared._Shared.Label_ApplicationName</p>
		</footer>
	</div>
</body>
</html>