@model MyCashFlow.Web.ViewModels.Transaction.TransactionDetailsViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2>Model.Header</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Income)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Income)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethodName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethodName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Model.Edit, MVC.Transaction.ActionNames.Edit, new { id = Model.TransactionID }, new { @class = "btn btn-primary" })
    @Html.ActionLink(Model.Back, MVC.Transaction.ActionNames.Index, null, new { @class = "btn btn-primary" })
</p>
