@model MyCashFlow.Web.ViewModels.Transaction.TransactionEditViewModel
@using Rsx = MyCashFlow.Resources.Localization.Views.Shared._Shared

@{
	ViewBag.Title = Model.Title;
	var actualUrl = Request.Url.PathAndQuery;
}

<h2>@Model.Title</h2>

@using (Html.BeginForm(MVC.Transaction.ActionNames.Edit, MVC.Transaction.Name, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.TransactionID)

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Income, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Income)
                    @Html.ValidationMessageFor(model => model.Income, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
				@if (Model.ProjectID.HasValue)
				{
					@Html.TextBoxFor(model => model.Projects[0].Name, new { disabled = "disabled", @readonly = "readonly" })
					@Html.HiddenFor(Model => Model.ProjectID)
				}
				else
				{
					@Html.DropDownListFor(model => model.ProjectID, new SelectList(Model.Projects, "ProjectID", "Name"), Rsx.List_Projects_OptionLabel)
				}
                @Html.ValidationMessageFor(model => model.ProjectID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TransactionTypeID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TransactionTypeID, new SelectList(Model.TransactionTypes, "TransactionTypeID", "Name"), Rsx.List_TransactionTypes_OptionLabel)
				@Html.ActionLink(Model.Create, MVC.TransactionType.ActionNames.Create, MVC.TransactionType.Name, new { previousUrl = actualUrl }, null)
                @Html.ValidationMessageFor(model => model.TransactionTypeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentMethodID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PaymentMethodID, new SelectList(Model.PaymentMethods, "PaymentMethodID", "Name"), Rsx.List_PaymentMethods_OptionLabel)
				@Html.ActionLink(Model.Create, MVC.PaymentMethod.ActionNames.Create, MVC.PaymentMethod.Name, new { previousUrl = actualUrl }, null)
                @Html.ValidationMessageFor(model => model.PaymentMethodID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Model.Back, MVC.Transaction.ActionNames.Index)
</div>
