@model MyCashFlow.Web.ViewModels.Transaction.TransactionIndexViewModel

@{
    ViewBag.Title = Model.Title;
}

@Scripts.Render(Bundles.Scripts.MyCashFlow.Transaction)

<div class="section panel panel-primary">
	<div class="panel-heading">@Model.Header</div>
	<div class="panel-body">
		<p>
			@Html.ActionLink(Model.Create, MVC.Transaction.ActionNames.Create, null, new { @class = "btn btn-primary" })
		</p>
		<table class="table table-hover table-striped table-condensed">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Items[0].Date)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Items[0].Amount)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Items[0].TransactionType)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Items[0].PaymentMethod)
					</th>
					<th></th>
				</tr>
			</thead>

			@*<tbody>
				@foreach (var item in Model.Items)
				{
					<tr class="@(@item.Income ? "success" : "danger")">
						<td>
							@Html.DisplayFor(modelItem => item.Date)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Amount)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.TransactionType)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.PaymentMethod)
						</td>
						<td>
							@Html.ActionLink(Model.Edit, MVC.Transaction.ActionNames.Edit, new { id = item.TransactionID }, new { @class = "btn btn-primary" })
							@Html.ActionLink(Model.Details, MVC.Transaction.ActionNames.Details, new { id = item.TransactionID }, new { @class = "btn btn-info" })
							@Html.ActionLink(Model.Delete, MVC.Transaction.ActionNames.Delete, new { id = item.TransactionID }, new { @class = "btn btn-danger" })
						</td>
					</tr>
				}
			</tbody>*@

			<tbody data-bind="foreach: model.transactions">
				<tr>
					<td data-bind="text: Date"></td>
					<td data-bind="text: Amount"></td>
					<td data-bind="text: TransactionType"></td>
					<td data-bind="text: PaymentMethod"></td>
					<td>
						<button class="btn btn-primary" data-bind="click: removeItem">@Model.Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="section panel panel-primary">
	<div class="panel-heading">
		Create Transaction
	</div>
	<div class="panel panel-body">
		<div class="form-group">
			<label>Date</label>
			<input class="form-control" data-bind="value: model.insert.Date" />
		</div>
		<div class="form-group">
			<label>Amount</label>
			<input class="form-control" data-bind="value: model.insert.Amount" />
		</div>
		<div class="form-group">
			<label>Note</label>
			<input class="form-control" data-bind="value: model.insert.Note" />
		</div>
		<div class="form-group">
			<label>Income</label>
			<input type="checkbox" class="form-control" data-bind="value: model.insert.Income" />
		</div>
		<div class="form-group">
			<label>ProjectID</label>
			<input class="form-control" data-bind="value: model.insert.ProjectID" />
		</div>
		<div class="form-group">
			<label>TransactionTypeID</label>
			<input class="form-control" data-bind="value: model.insert.TransactionTypeID" />
		</div>
		<div class="form-group">
			<label>PaymentMethodID</label>
			<input class="form-control" data-bind="value: model.insert.PaymentMethodID" />
		</div>
		<div class="btn btn-primary" data-bind="click: handleEditorClick">Save</div>
	</div>
</div>