@model MyCashFlow.Web.ViewModels.PaymentMethod.PaymentMethodDeleteViewModel
@using Rsx = MyCashFlow.Resources.Localization.Views.Shared.Delete

@{
    ViewBag.Title = Model.Delete;
}

<h2>@Model.Header</h2>

<h3>@Rsx.ConfirmQuestion</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm(MVC.PaymentMethod.ActionNames.PostDelete, MVC.PaymentMethod.Name, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
	{
        @Html.AntiForgeryToken()
		@Html.Hidden("id", Model.PaymentMethodID)

        <div class="form-actions no-color">
            <input type="submit" value="@Model.Delete" class="btn btn-danger" />
            @Html.ActionLink(Model.Back, MVC.Home.ActionNames.Index, MVC.Home.Name, null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
